/* don't mind the duct tape */

html{
	overflow-x:hidden;
	height: 100%;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

body{
	background-color: black;
	background: url("bg.png");
	background-size:cover;
	font-family: Arial;
}

/* title text */
#title1{
	font-size: 50px;
	text-align: center;
	color: white;
	padding:20px 0px;
	animation: move 4.6s infinite linear, blink 4.6s infinite linear, blinkblur 4.6s infinite linear;
	transform:translateX(0px);
	letter-spacing: 10px;
	line-height: 1.4;
}

/* title blurry text */
#title1 span{
	position: absolute;
	font-size: 10px;
	filter: blur(1px);
	transform: scale(7) translateX(0px);
	top: 65px;
	animation: movescale 4.6s infinite linear, blink 4.6s infinite linear;
	left: 400px;
}

/* menu button */
#menu th{
	color: #FFBA00;
	padding-bottom:22px;
	text-align: left;
	width: 200px; 
}

/* menu button description */
#menu td{
	font-size: 15px;
	color: #7F7F7F;
	padding-bottom:22px;
	vertical-align: bottom;
}

button {
  background: none;
  border: none;
  padding: 0;
}

/* links and buttons */
a, button{
	cursor: default;
	color: #FFBA00;
	text-decoration: none;
	transition-duration: 1s;
	font-family: Trebuchet MS;
	font-size: 20px;
	font-weight: bold;
}

/* link hover */
a:hover, button:hover{
	color: #FFF94D;
	text-shadow: 0px 0px 5px #FFBA00, 0px 0px 5px #FFBA00, 0px 0px 5px #FFBA00, 0px 0px 5px #FFBA00, 0px 0px 5px #FFBA00, 0px 0px 15px #FFBA00;
	text-decoration: none;
	transition-duration: 0.02s;
}

/* link active (clicked) */
a:active, button:active{
	color: #000;
	text-decoration: none;
	transition-duration: 0.02s;
}

/* fix for ugly blue links */
a:focus, button:focus{
	color: #000;
	text-shadow: 0px 0px 5px #FFBA00, 0px 0px 5px #FFBA00, 0px 0px 5px #FFBA00, 0px 0px 5px #FFBA00, 0px 0px 5px #FFBA00, 0px 0px 15px #FFBA00;
	text-decoration: none;
	transition-duration: 0.02s;
	outline:0;
}

/* inactive link */
.inactive{
	color: #7F7F7F;
	pointer-events: none;
}

/* message box container */
#messagebox, #messagebox_mc{
	width:320px;
	height:160px;
	background-color: #383838;
	border: 1px solid #646464;
	position:fixed;
	top: 200px;
	left: calc(50% - 160px);
	text-align: center;
	color: #FFBA00;
	visibility: hidden;
}

/* message box message */
#messagebox th, #messagebox_mc th{font-size: 18px;}

/* message box link */
#messagebox a, #messagebox_mc a, #messagebox button, #messagebox_mc button
{
	font-size: 16px;
	font-family: Trebuchet MS;
	font-weight: normal;
}

/* css for mobile devices */
@media screen and (max-width: 800px) {
	
	/* smaller title without and animation */
	#title1
	{
		font-size: 20px;
		padding:0px 0px;
		animation: none;
	}
	
	/* disable blurry title */
	#title1 span{display:none;}
	
	/* move message box higher */
	#messagebox, #messagebox_mc{top: 100px;}
}

/* responsive web stuff */
@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* animations */
/* title animation */
@keyframes move{
	0%{transform:translateX(-50px);}
	
	27%{transform:translateX(50px);}
	
	36%{transform:translateX(25px);}
	
	45%{transform:translateX(50px);}
	
	81%{transform:translateX(0px);}
	
	94%{transform:translateX(50px);}
	
	100%{transform:translateX(-50px);}
}

/* title scaled animation */
@keyframes movescale{
	0%{transform:translateX(-50px) scale(7);}
	
	27%{transform:translateX(50px) scale(7);}
	
	36%{transform:translateX(25px) scale(7);}
	
	45%{transform:translateX(50px) scale(7);}
	
	81%{transform:translateX(0px) scale(7);}
	
	94%{transform:translateX(50px) scale(7);}
	
	100%{transform:translateX(-50px) scale(7);}
}

/* blinking animation */
@keyframes blink{
	0%{text-shadow: none;}
	
	11%{text-shadow: none;}
	12%{text-shadow: 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF;}
	13%{text-shadow: none;}
	
	31%{text-shadow: none;}
	32%{text-shadow: 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF;}
	33%{text-shadow: none;}
	
	54%{text-shadow: none;}
	55%{text-shadow: 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF;}
	56%{text-shadow: none;}
	
	66%{text-shadow: none;}
	67%{text-shadow: 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF;}
	68%{text-shadow: none;}
	
	77%{text-shadow: none;}
	78%{text-shadow: 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF;}
	79%{text-shadow: none;}
	
	93%{text-shadow: none;}
	94%{text-shadow: 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF;}
	95%{text-shadow: none;}
	
	100%{text-shadow: none;}
}

/* blinking blur animation */
@keyframes blinkblur{
	0%{filter:blur(0px);}
	
	11%{filter:blur(0px);}
	12%{filter:blur(5px);}
	13%{filter:blur(0px);}
	
	31%{filter:blur(0px);}
	32%{filter:blur(5px);}
	33%{filter:blur(0px);}
	
	54%{filter:blur(0px);}
	55%{filter:blur(5px);}
	56%{filter:blur(0px);}
	
	66%{filter:blur(0px);}
	67%{filter:blur(5px);}
	68%{filter:blur(0px);}
	
	77%{filter:blur(0px);}
	78%{filter:blur(5px);}
	79%{filter:blur(0px);}
	
	93%{filter:blur(0px);}
	94%{filter:blur(5px);}
	95%{filter:blur(0px);}
	
	100%{filter:blur(0px);}
}