html
{
overflow-x:hidden;
height: 100%;
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

body
{
background-color: black;
background: url("bg.png");
background-size:cover;
font-family: mcfont;
}

.button
{
background: url("buttonbg.png"),#6F6F6F;
color: #E0E0E0;
cursor: default;
font-weight: normal;
font-size: 16px;
text-decoration: none;
text-shadow: 2px 2px #383838;
max-width: 600px;
padding: 5px 0px 8px 0px;
margin: 10px 0px;
border: 2px solid black;
box-shadow: inset 2px 2px #AAA, inset -2px -2px #575757;
}

/* link hover */
.button:hover
{
background-color: #7E88BF;
color: #FFFFA0;
text-shadow: 2px 2px #3F3F28;
box-shadow: inset 2px 2px #BEC7FF, inset -2px -2px #5C669D;
cursor: default;
}

a:hover
{
text-decoration: none;
}

/* link active (clicked) */
.button:active
{
color: #FFFFA0;
}

/* inactive link */
.inactive
{
background: #1E1E1E;
box-shadow: inset 2px 2px #424242, inset -2px -2px #000;
color: #7F7F7F;
pointer-events: none;
cursor: default;
}

/* message box container */
#messagebox, #messagebox_mc
{
width:420px;
height:160px;
position:fixed;
top: 200px;
left: calc(50% - 210px);
font-size: 20px;
text-align: center;
visibility: hidden;
background: url("buttonbg.png"),#6F6F6F;
color: #E0E0E0;
cursor: default;
text-decoration: none;
text-shadow: 2px 2px #383838;
padding: 5px 0px;
margin: 10px 0px;
border: 2px solid black;
box-shadow: inset 2px 2px #AAA, inset -2px -2px #575757;
}

/* message box message */
#messagebox th, #messagebox_mc th{font-size: 16px;font-weight: normal;color: #FFF;}

/* message box link */
#messagebox a, #messagebox_mc a
{
font-size: 16px;
font-weight: normal;
color: #FFF;
}

#messagebox a:hover, #messagebox_mc a:hover{color: #FFFFA0;}

/* messagebox ok button */
#messagebox #okbutton, #messagebox_mc #okbutton
{
height: 40px;
}

/* custom font */
@font-face {
font-family: mcfont;
src: url(mc_font.ttf);
}

/* css for mobile devices */
@media screen and (max-width: 800px) {

/* move message box higher */
#messagebox, #messagebox_mc{top: 100px;}

/* shrink title image for smaller screens */
img{width:278px;}
}