	html
	{
	height: 100%;
	}
	
	body
	{
	background-size:100% 100%;
	}
	
	#error
	{
	margin: 300px auto 0px auto;
    display: block;
	}
	
	#okbtn
	{
	position: fixed;
	top: 380px;
	left: calc(50% - 37px);
	}
	
	#errormsg
	{
	position: fixed;
	top: 339px;
	left: calc(50% - 129px);
	}
	
	a
	{
	cursor: default;
	}
	
	@media screen and (max-height: 600px) {
		#error
		{
		margin: 150px auto 0px auto;
		}
		
		#okbtn
		{
		top: 229px;
		}
		
		#errormsg
		{
		top: 189px;
		}
	}
	
	@media screen and (max-height: 300px) {
		#error
		{
		margin: 0px auto;
		}
		
		#okbtn
		{
		top: 90px;
		}
		
		#errormsg
		{
		top: 47px;
		}
	}